/* FONTS LOAD SECTION */

/* USER VARIABLES SECTION */
:root {
    --fontfamily: circe-gr, sans-serif;
    --accent: #24A1DF;
    --transition: all 0.5s ease-in-out;
}

@font-face {
    src: url('../fonts/Circe-Regular.woff2') format('woff2');
    font-family: 'circe-gr';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Circe-Light.woff2') format('woff2');
    font-family: 'circe-gr';
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Circe-Bold.woff2') format('woff2');
    font-family: 'circe-gr';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Geometria-Regular.woff2') format('woff2');
    font-family: 'geometria-gr';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Geometria-Medium.woff2') format('woff2');
    font-family: 'geometria-gr';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Geometria-Bold.woff2') format('woff2');
    font-family: 'geometria-gr';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-family: 'inter-gr';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-family: 'inter-gr';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-family: 'inter-gr';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    font-family: 'gilroy-gr';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url('../fonts/Gilroy-Semibold.woff2') format('woff2');
    font-family: 'gilroy-gr';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* GENERAL CSS SETTINGS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--fontfamily);
    background: #1C1C1C;
    line-height: 139.9%;
    overflow-x: hidden;
    color: #fff;

}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

ul, li {
    list-style-type: none;
}

.title {
    font-family: geometria-gr, sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 81px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.title span {
    color: var(--accent);
    font-weight: 700;
}

/* BUTTONS */

.btn {
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: var(--transition);
    -webkit-border-radius: 71px;
    -moz-border-radius: 71px;
    border-radius: 71px;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    box-shadow: 0 18px 17px rgba(36, 161, 223, 0.12);
    font-weight: 600;
    font-size: 16px;
    font-family: inter-gr, sans-serif;
    width: 100%;
    max-width: 247px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: transparent;
    box-shadow: none;
}

.btn-transparent {
    background-color: transparent;
    font-weight: 400;
    box-shadow: none;
}

.btn-transparent:hover {
    background-color: var(--accent);
    box-shadow: 0 18px 17px rgba(36, 161, 223, 0.12);
}

.menu-btn {
    width: 42px;
    min-width: 42px;
    height: 42px;
    background-color: var(--accent);
    border-radius: 50%;
    position: relative;
    display: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 11px;
    margin-top: -1px;
    width: 21px;
    min-width: 21px;
    height: 2px;
    background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
    left: 0;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn.active span {
    height: 0;
}

.menu-btn.active span:before {
    transform: rotate(45deg);
}

.menu-btn.active span:after {
    transform: rotate(-45deg);
}

.overlay {
    opacity: 0;
    z-index: 40;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: var(--transition);
    pointer-events: none;
}

/* HEADER */

.header {
    padding: 37px 0 34px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.header::after {
    content: '';
    width: 1292px;
    height: 1292px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 18px solid rgba(255, 255, 255, 0.13);
    display: block;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    right: -370px;
    bottom: -655px;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo {
    font-family: geometria-gr, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #fff;
}

.mnu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 705px;
    width: 100%;
}

.mnu-list__item a {
    font-family: inter-gr, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    white-space: nowrap;
    transition: var(--transition);
}

.mnu-list__item a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--accent);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: var(--transition);
}

.mnu-list__item a:hover {
    color: var(--accent);
}

.mnu-list__item a:hover::before {
    width: 100%;
}

/* HEADER-TOP */

.header-top {
    height: calc(100vh - 129px);
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.header-top > .container {
    position: relative;
    display: flex;
    align-items: center;

}

.header-top > .container::before {
    content: '';
    width: 296px;
    height: 296px;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--accent);
    filter: blur(190px);
    position: absolute;
    right: calc(100% + 87px);
    bottom: -200px;
    z-index: -1;
    pointer-events: none;
}

.header-top > .container::after {
    content: '';
    width: 296px;
    height: 296px;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--accent);
    filter: blur(190px);
    position: absolute;
    right: 46px;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

.header-top h1 {
    font-family: geometria-gr, sans-serif;
    font-weight: 400;
    font-size: 128px;
    line-height: 100px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.header-top p {
    font-size: 32px;
    line-height: 120.9%;
    max-width: 476px;
}

.header-top__create-info {
    font-size: 24px;
    line-height: 35px;
    font-weight: 350;
    margin: 61px 0 35px;
}

.header-top__create-info span {
    font-weight: 700;
}

.header-top__img-wrapper {
    margin-left: 93px;
    position: relative;
}

.header-top__img {
    width: 479px;
    height: 396px;
}

.header-top__custom-text {
    font-family: geometria-gr, sans-serif;
    font-weight: 400;
    font-size: 256px;
    line-height: 239px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.22);
    max-width: 706px;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 0;
    left: 54px;
}

.header-top__vector-one {
    width: 49px;
    height: 50px;
    position: absolute;
    left: 78px;
    top: 123px;
    pointer-events: none;
}

.header-top__vector-two {
    width: 28px;
    height: 29px;
    position: absolute;
    left: 91px;
    top: 365px;
    pointer-events: none;
}

.header-top__vector-three {
    width: 28px;
    height: 29px;
    position: absolute;
    left: 103px;
    top: -38px;
    pointer-events: none;
}

.header-top__vector-four {
    width: 115px;
    height: 117px;
    position: absolute;
    right: 77px;
    top: -133px;
    pointer-events: none;
}

.header-top__vector-five {
    width: 58px;
    height: 59px;
    position: absolute;
    left: 0;
    top: calc(100% + 25px);
    pointer-events: none;
}

.header-top__vector-six {
    width: 56px;
    height: 58px;
    position: absolute;
    left: calc(100% + 47px);
    bottom: 21px;
    pointer-events: none;
}

/* HOW-IT-WORK */

.how-it-work {
}

.how-it-work__list {
    margin: 55px 0;
    display: flex;
    gap: 30px;
}

.how-it-work__item {
    background: #1E303A;
    border-radius: 15px;
    text-align: center;
    padding: 24px 23px;
    max-width: 312px;
    width: 100%;
    position: relative;
}

.how-it-work__icon {
    width: 102px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.21);
    border-radius: 15px;
    margin: 0 auto 19px;
}

.how-it-work__item p {
    font-size: 18px;
}

.how-it-work__btn {
    max-width: 331px;
    margin: 0 auto;
}

.how-it-work__counter {
    position: absolute;
    color: #1C1C1C;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    font-family: geometria-gr, sans-serif;
    right: 15px;
    top: 12px;
}

/* BENEFITS */

.benefits {
    padding-top: 128px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.benefits-slider .swiper-slide {
    background: linear-gradient(98.04deg, rgba(36, 161, 223, 0.32) -7.06%, rgba(30, 48, 58, 0) 180.09%);
    border: 1px solid #24A1DF;
    border-radius: 15px;
    padding: 30px 41px 30px 28px;
    display: flex;
    gap: 22px;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.benefits-slider .swiper-slide-active, .benefits-slider .swiper-slide-next {
    opacity: 1;
}

.benefits-slider {
    position: relative;
    margin-top: 49px;
}

.benefits__icon {
    width: 86px;
    min-width: 86px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.21);
    border-radius: 15px;
}

.benefits__content h3 {
    font-size: 32px;
    margin-bottom: 18px;
    line-height: 1;
}

.benefits__content p {
    font-size: 16px;
}

.benefits-arrow {
    width: 55px;
    height: 55px;
    background: #24A1DF;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.benefits-prev {
    right: calc(100% + 40px);
}

.benefits-next {
    left: calc(100% + 40px);
}

/* SERVICES */

.service {
    padding: 123px 0 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.service::after {
    content: '';
    width: 296px;
    height: 296px;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--accent);
    filter: blur(190px);
    position: absolute;
    right: -101px;
    bottom: -148px;
    z-index: -1;
    pointer-events: none;
}

.service > .container {
    position: relative;
}

.services__wrapper {
    margin: 115px 0 79px;
    display: flex;
    justify-content: space-between;
}

.service__block--left, .service__block--right {
    display: flex;
    flex-direction: column;
}

.services__item {
    display: flex;
    gap: 28px;
}

.services__item:nth-child(2) {
    margin-top: auto;
}

.service__icon {
    width: 102px;
    min-width: 102px;
    height: 102px;
    background: #1E313B;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.21);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits__title-mobile {
    display: none;
}

.services__content {
    max-width: 395px;
    margin-top: 9px;
}

.services__content h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.services__content p {
    font-weight: 400;
    font-size: 18px;
}

.service__img {
    width: 225px;
    height: 374px;
    z-index: 3;
}

.service__block--center {
    position: relative;
    width: 308px;
    min-width: 308px;
    display: flex;
    justify-content: center;
    margin: 0 109px 0 19px;
}

.service__block--center::before {
    content: '';
    background: #1E3E4D;
    width: 308px;
    height: 308px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 0;
    bottom: 33px;
    z-index: -1 ;
    display: block;
    position: absolute;
}

.service__block--center::after {
    content: '';
    background: #3A6980;
    width: 272px;
    height: 272px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 18px;
    bottom: 51px;
    z-index: -1 ;
    display: block;
    position: absolute;
}

.services__btn {
    max-width: 331px;
    margin: 0 auto;
}

.service__vector-one {
    position: absolute;
    left: 91px;
    bottom: 52px;
    width: 34px;
    height: 36px;
    pointer-events: none;
}

.service__vector-two {
    position: absolute;
    right: 123px;
    top: 272px;
    width: 36px;
    height: 37px;
    pointer-events: none;
}

/* FAQ */

.faq {
    padding: 123px 0 0;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.faq::before {
    content: '';
    width: 296px;
    height: 296px;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--accent);
    filter: blur(190px);
    position: absolute;
    left: -12px;
    top: 682px;
    z-index: -1;
    pointer-events: none;
}

.faq::after {
    content: '';
    width: 615px;
    height: 615px;
    border: 18px solid rgba(255, 255, 255, 0.13);
    z-index: -1;
    position: absolute;
    top: 470px;
    right: -389px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.faq__list {
    margin: 68px 0 0;
}
.faq__item {
    background: #1E303A;
    border-radius: 10px;
    padding: 39px 36px;
    cursor: pointer;
}


.faq__item:not(:last-child) {
    margin-bottom: 23px;
}

.faq__head {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 42px;
}

.faq__icon {
    width: 54px;
    min-width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    box-shadow: 0 16px 25px rgba(36, 161, 223, 0.19);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}

.faq__icon::before {
    content: '+';
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-top: 4px;
}

.faq__icon::after {
    content: '-';
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    display: none;
}

.faq__item.active .faq__icon::before {
    display: none;
}

.faq__item.active .faq__icon::after {
    display: block;
}

.faq__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
}



.faq__content {
    margin-left: 97px;
    max-width: 1020px;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
    /*height: 0;*/
    overflow: hidden;
    transition: all 0.65s;
}
/*.faq__item.active .faq__content {*/
/*    height: 85px;*/
/*}*/

.faq__content a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.faq__content a:hover {
    text-decoration: none;
}

.faq__vector-one {
    position: absolute;
    pointer-events: none;
    width: 115px;
    height: 117px;
    left: 91px;
    top: 712px;
}

.faq__vector-two {
    position: absolute;
    pointer-events: none;
    width: 67px;
    height: 74px;
    right: 103px;
    top: 527px;
}

/* FOOTER */

.footer {

}

.footer > .container {
    padding: 57px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    line-height: 40px;
}

.footer .mnu-list {
    max-width: 630px;
}

.footer__socials {
    display: flex;
    gap: 22px;
}

.socials__vector {
    width: 44px;
    min-width: 44px;
    height: 44px;
}

.footer-copyright {
    text-align: center;
    padding: 11px 0;
    font-style: normal;
    font-family: gilroy-gr, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 153.3%;
    border-top: 3px solid #1E303A;
}

/* ADAPTIVE */

@media (max-width: 1600px) {
    .container {
        padding: 0 40px;
    }

    .footer > .container {
        padding: 57px 40px;
    }

    .header-top > .container::before {
        right: calc(100% + -203px);
    }

    .header::after {
        right: -554px;
    }

    .benefits-next {
        left: calc(100% + 10px);
    }

    .benefits-prev {
        right: calc(100% + 10px);
    }

    .faq__vector-one {
        left: 0;
    }

    .faq::after {
        top: 0;
    }

    .faq__vector-two {
        right: 164px;
        top: 96px;
    }
}

@media (max-width: 1440px) {
    .header::after {
        right: -168px;
        bottom: -478px;
        width: 800px;
        height: 800px;
    }

    .header-top__custom-text {
        font-size: 190px;
        line-height: 175px;
        left: 20px;
        top: -25px;
    }

    .header-top__vector-one {
        left: 30px;
        top: 67px;
    }

    .header-top__vector-two {
        left: 17px;
        top: 258px;
    }

    .header-top h1 {
        font-size: 100px;
    }

    .header-top p {
        font-size: 28px;
    }

    .header-top__create-info {
        font-size: 20px;
    }

    .title {
        font-size: 45px;
    }

    .benefits-slider {
        max-width: 1160px;
        margin: 49px auto 0;
    }

    .faq__list {
        max-width: 1000px;
        margin: 68px auto 0;
    }

    .faq__title {
        font-size: 29px;
    }

    .faq__item {
        padding: 25px 36px;
    }

    .faq__icon {
        width: 44px;
        min-width: 44px;
        height: 44px;
    }

    .faq__content {
        margin-left: 85px;
        font-size: 20px;
    }

    .benefits-next {
        left: calc(100% - 28px);
    }

    .benefits-prev {
        right: calc(100% - 28px);
    }

    .how-it-work__counter {
        font-size: 37px;
        right: 10px;
        top: 10px;
        line-height: 35px;
    }

}

@media (max-width: 1200px) {

    .mnu-list {
        justify-content: space-around;
    }

    .header-top__custom-text {
        font-size: 127px;
        line-height: 145px;
        left: 10px;
        top: 44px;
    }

    .mnu-list__item a {
        font-size: 14px;
    }

    .btn {
        width: 100%;
        height: 50px;
    }

    .header__btn-create {
        max-width: 205px;
    }

    .header > .container {
        gap: 30px;
    }

    .header-top__img {
        width: 350px;
        height: 290px;
    }

    .header-top h1 {
        font-size: 85px;
        margin-bottom: 30px;
    }

    .header-top p {
        font-size: 25px;
    }

    .header-top__create-info {
        font-size: 16px;
        margin: 25px 0 35px;
    }

    .header-top__vector-three {
        left: 0;
        top: 0;
    }

    .header-top__vector-four {
        width: 90px;
        height: 92px;
        right: 42px;
        top: -138px;
    }

    .header-top__vector-six {
        left: calc(100% + 69px);
        bottom: -13px;
    }

    .title {
        font-size: 38px;
    }

    .header::after {
        right: -303px;
    }

    .how-it-work__counter {
        font-size: 37px;
        right: 10px;
        top: 10px;
        line-height: 35px;
    }

    .how-it-work__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .how-it-work__item {
        max-width: initial;
        width: calc(100% / 2 - 20px);
    }

    .benefits__content h3 {
        display: none;
    }

    .benefits__title-mobile {
        display: block;
        font-size: 28px;
    }

    .benefits-slider .swiper-slide {
        flex-direction: column;
    }

    .benefits__head {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .benefits-slider {
        max-width: 870px;
    }

    .footer__mnu-list {
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer__mnu-list .mnu-list__item {
        width: calc(100% / 2 - 5px);
    }

    .footer .mnu-list {

        max-width: 305px;
    }

    .service__block--center {
        margin: 0 15px;
    }

    .services__wrapper {
        flex-wrap: wrap;
    }

    .service__block--left {
        width: calc(100% / 2 - 10px);
        order: 2;
    }

    .service__block--right {
        width: calc(100% / 2 - 10px);
        order: 3;
    }

    .service__block--center {
        width: 100%;
        order: 1;
        margin: 0 0 40px;
    }

    .service__block--center::before, .service__block--center::after  {
        left: 50%;
        transform: translateX(-50%);
    }

    .services__wrapper {
        margin: 50px 0 79px;
        display: flex;
        justify-content: space-between;
    }

    .services__content p {
        font-size: 14px;
    }

    .services__content h4 {
        font-size: 18px;
    }

    .services__item:not(:last-child) {
        margin-bottom: 35px;
    }

}

@media (max-width: 992px) {

    .menu-btn {
        display: block;
        z-index: 70;
    }

    .header__mnu-list {
        z-index: 50;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        width: 320px;
        justify-content: flex-start;
        background: #1D3139;
        padding-top: 120px;
        transform: translateX(100%);
        transition: var(--transition);
    }

    .header.open .header__mnu-list {
        transform: translateX(0);
    }

    .header__mnu-list .mnu-list__item {
        margin-bottom: 25px;
    }

    .header__mnu-list .mnu-list__item a {
        font-size: 22px;
    }

    .header.open .overlay {
        opacity: 1;
        pointer-events: initial;
    }

    .header-top__img {
        width: 300px;
        height: 248px;
    }

    .header-top {
        height: initial;
    }

    .header-top__custom-text {
        top: -15px;
    }

    .header-top__img-wrapper {
        margin-left: 0;
    }

    .benefits, .service, .faq {
        padding-top: 80px;
    }

    .faq__vector-one, .faq__vector-two, .faq::after {
        display: none;
    }

    .header-top__img {
        width: 267px;
        height: 221px;
    }

    .header::after {
        right: -136px;
        bottom: -328px;
        width: 500px;
        height: 500px;
    }

    .footer > .container {
        flex-wrap: wrap;
    }

    .footer .mnu-list {
        max-width: initial;
        width: 70%;
    }

    .footer__logo {
        width: 27%;
    }

    .footer__mnu-list .mnu-list__item {
        width: initial;
    }

}

@media (max-width: 768px) {

    .title {
        line-height: 45px;
    }

    .container {
        padding: 0 20px;
    }

    .logo {
        font-size: 36px;
    }

    .header__btn-create {
        display: none;
    }

    .header-top > .container {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .header {
        padding: 28px 0 0;
    }

    .header-top {
        padding: 95px 0 0;
    }

    .header-top__btn-create {
        margin: 0 auto;
    }

    .header-top h1 {
        font-weight: 700;
        font-size: 52px;
        line-height: 65px;
        margin: 58px 0 22px;
    }

    .header-top__create-info {
        margin: 12px 0 20px;
        font-size: 14px;
    }

    .header-top p {
        font-size: 16px;
    }

    .header-top__custom-text {
        top: 316px;
        left: 61px;
    }

    .header-top__vector-one {
        left: 83px;
        top: 150px;
        width: 25px;
        height: 25px;
    }

    .header-top__vector-two {
        display: none;
    }

    .header-top__vector-three {
        left: -51px;
        top: -38px;
        width: 11px;
        height: 12px;
    }

    .header-top__vector-four {
        width: 50px;
        height: 51px;
        right: 128px;
        top: -20px;
    }

    .header-top__vector-five {
        width: 35px;
        height: 35px;
        left: -158px;
        top: calc(100% + 60px);
    }

    .how-it-work {
        padding: 55px 0 0;
    }

    .benefits {
        padding: 58px 0 0;
    }

    .benefits-slider {
        margin-top: 32px;
    }

    .benefits-prev {
        display: none;
    }

    .benefits-next {
        right: 31.7%;
        left: initial;
        width: 43px;
        height: 43px;
    }

    .benefits-next svg {
        width: 11px;
        height: 16px;
    }

    .benefits-slider .swiper-slide {
        padding: 16px 18px;
    }

    .service {
        padding: 55px 0 0;
    }

    .service__block--left, .service__block--right {
        width: 100%;
    }

    .services__item:not(:last-child), .services__item {
        margin-bottom: 24px;
    }

    .faq__title {
        font-size: 21px;
    }

    .faq__content {
        margin-left: 85px;
        font-size: 16px;
    }

    .footer__mnu-list .mnu-list__item {
        width: calc(100% / 2 - 5px);
    }

}

@media (max-width: 576px) {

    .how-it-work__item {
        width: 100%;
    }

    .footer__logo {
        width: 100%;
        text-align: center;
    }

    .footer .mnu-list {
        width: 100%;
        text-align: center;
    }

    .footer__socials {
        width: 100%;
        justify-content: center;
    }

    .footer__btn-create {
        margin: 0 auto;
    }

}

@media (max-width: 480px) {

    .title {
        line-height: 30px;
        font-size: 24px;
    }

    .header::after {
        right: -113px;
        bottom: initial;
        top: -117px;
        width: 335px;
        height: 335px;
        border: 13px solid rgba(255, 255, 255, 0.13);
    }

    .header-top__img {
        width: 187px;
        height: 155px;
    }

    .header-top__vector-one {
        display: none;
    }

    .header-top__vector-three {
        left: 21px;
    }

    .header-top__vector-four {
        top: -78px;
        right: 51px;
    }

    .header-top__custom-text {
        font-size: 128px;
        line-height: 131px;
        left: 0;
        top: 171px;
    }

    .header-top__create-info {
        line-height: 21px;
        max-width: 217px;
        margin: 12px auto 20px;
    }

    .btn {
        height: 55px;
    }

    .header-top__vector-five {
        display: none;
    }

    .header-top__vector-six {
        left: initial;
        right: -37px;
        bottom: 27px;
        width: 25px;
        height: 26px;
    }

    .how-it-work__icon {
        width: 69px;
        height: 69px;
    }

    .how-it-work__icon svg {
        width: 30px;
    }

    .how-it-work__item {
        padding: 24px 16px;
    }

    .how-it-work__item p {
        font-size: 14px;
    }

    .how-it-work__counter {
        right: 17px;
        top: 12px;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
    }

    .how-it-work__list {
        margin: 24px 0 40px;
        display: flex;
        gap: 10px;
    }

    .benefits__icon {
        width: 73px;
        min-width: 73px;
        height: 73px;
    }

    .benefits__head {
        gap: 11px;
    }

    .benefits__icon svg {
        width: 30px;
    }

    .benefits__title-mobile {
        font-size: 18px;
    }

    .benefits__content p {
        font-size: 14px;
    }

    .benefits-next {
        right: 4px;
    }

    .service__img {
        width: 140px;
        height: 234px;
    }

    .service__block--center::before {
        width: 193px;
        height: 193px;
    }

    .service__block--center::after {
        width: 170px;
        height: 170px;
        bottom: 44px;
    }

    .services__wrapper {
        margin: 36px 0;
    }

    .service__icon {
        width: 65px;
        min-width: 65px;
        height: 65px;
    }

    .service__icon svg {
        width: 28px;
    }

    .services__item {
        gap: 15px;
    }

    .service::after, .service__vector-one, .faq::before {
        display: none;
    }

    .faq {
        padding: 40px 0 0;
    }

    .faq__list {
        margin: 24px 0 0;
    }

    .faq__item {
        padding: 19px 6px 19px 21px;
    }

    .faq__head {
        gap: 23px;
    }

    .faq__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 153.3%;
    }

    .faq__icon {
        width: 35px;
        min-width: 35px;
        height: 35px;
    }

    .faq__content {
        margin-left: 58px;
        font-size: 14px;
    }

    .footer__mnu-list .mnu-list__item {
        width: 100%;
    }

    .footer > .container {
        gap: 0;
        padding: 41px 0 9px;
    }

    .footer__logo {
        margin-bottom: 31px;
    }

    .footer__mnu-list {
        margin-bottom: 31px;
    }

    .footer__socials {
        order: 1;
        margin-top: 19px;
    }
}